body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: #EEE;
    font-family: 'Open Sans', Roboto, Segoe UI, Microsoft Yahei UI, Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    max-width: 100%;
    max-height: 100%;
}

#canvas {
    max-width: 100%;
    max-height: 100%;
}